body{
    margin: 0;
    padding: 0;
    background-color: rgba(105, 105, 105, .1);
    font-family: monospace;
    text-align: center;
    display: flex;
}

.box{
    /* display: flex; */
    width: 400px;
    height: 300px;
    background-color: antiquewhite;
    margin: auto;
    padding: auto;
}

input{
    width: 100%;
    border: 1px solid #5f9341;
    padding: 0 10px;
    margin: 10px 0px;
    box-sizing: border-box;
}

button{
    background-color: #5f9341;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
}